<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bugstack.infrastructure.dao.ICrowdTagsDao">


    <update id="updateCrowdTagsStatistics">
        update crowd_tags
        set statistics = statistics + #{statistics}
        where tag_id = #{tagId}
    </update>
</mapper>
