<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bugstack.infrastructure.dao.ICrowdTagsJobDao">


    <select id="queryCrowdTagsJob" resultType="cn.bugstack.infrastructure.dao.po.CrowdTagsJob">
        select tag_type, tag_rule, stat_start_time, stat_end_time
        from crowd_tags_job
        where tag_id = #{tagId} and batch_id = #{batchId}
    </select>
</mapper>
