<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bugstack.infrastructure.dao.IGroupBuyActivityDao">


    <select id="queryGroupBuyActivityList" resultType="cn.bugstack.infrastructure.dao.po.GroupBuyActivity">
        select * from group_buy_activity
    </select>
    <select id="queryValidGroupBuyActivity" resultType="cn.bugstack.infrastructure.dao.po.GroupBuyActivity">
        select
            activity_id, activity_name,
            discount_id, group_type, take_limit_count, target, valid_time,
            status, start_time, end_time, tag_id, tag_scope
        from group_buy_activity
        where source = #{source} and channel = #{channel}
        order by id desc
            limit 1
    </select>
    <select id="queryValidGroupBuyActivityId" resultType="cn.bugstack.infrastructure.dao.po.GroupBuyActivity">
        select
            activity_id, activity_name, discount_id, group_type, take_limit_count,
            target, valid_time, status, start_time, end_time, tag_id, tag_scope
        from group_buy_activity
        where activity_id = #{activityId} and status = 1
    </select>
    <select id="queryGroupBuyActivityByActivityId"
            resultType="cn.bugstack.infrastructure.dao.po.GroupBuyActivity">
        select
            activity_id, activity_name, discount_id, group_type, take_limit_count,
            target, valid_time, status, start_time, end_time, tag_id, tag_scope
        from group_buy_activity
        where activity_id = #{activityId}
    </select>
</mapper>
